html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 12px;
}

h1 {
  font-size: 4.5rem;
  line-height: 3rem;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 992px) {
  h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 2.6rem;
    letter-spacing: 0.1em;
  }
}

h3 {
  font-size: 2.3rem;
  line-height: 3.5rem;
  letter-spacing: 0.1em;
}

h4 {
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 1399px) {
  h4 {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 992px) {
  h4 {
    font-size: 1.65rem;
  }
}

h5 {
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 1399px) {
  h5 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  h5 {
    font-size: 1.4rem;
  }
}

p {
  font-size: 1.6rem;
  line-height: 3rem;
  text-indent: 2em;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  p {
    font-size: 1.5rem;
  }
}

li {
  font-size: 1.6rem;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  li {
    font-size: 1.5rem;
  }
}

span {
  font-size: 1.6rem;
  font-weight: bolder;
  line-height: 3rem;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  span {
    font-size: 1.5rem;
  }
}

a {
  font-size: 1.6rem;
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: unset;
}
@media screen and (max-width: 767px) {
  a {
    font-size: 1.5rem;
  }
}

button {
  border: none;
  outline: none;
  border-radius: 0;
  cursor: pointer;
}

div {
  box-sizing: border-box;
}

@font-face {
  font-family: "myFont";
  src: url("../../../J/font/NotoSerifTC-SemiBold.otf");
  font-display: swap;
}
@font-face {
  font-family: "myFontBold";
  src: url("../../../J/font/NotoSerifTC-Bold.otf");
  font-display: swap;
}
body {
  font-family: "myFont";
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}
body section.member_popup {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.6);
  animation: popUp 0.2s linear;
}
@keyframes popUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body section.member_popup button.close {
  font-size: 35px;
  position: fixed;
  z-index: 6;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  body section.member_popup button.close {
    font-size: 30px;
  }
}
@media screen and (max-width: 575px) {
  body section.member_popup button.close {
    color: #8f8f8f;
    text-shadow: none;
    font-size: 25px;
    top: 10px;
    right: 15px;
  }
}
body section.member_popup div.member_container {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: white;
}
@media screen and (max-width: 767px) {
  body section.member_popup div.member_container {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  body section.member_popup div.member_container {
    height: 100%;
  }
}
body section.member_popup div.member_container div {
  flex-basis: 50%;
  height: 100%;
  padding: 30px;
  position: relative;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  transition: linear 0.2s all;
}
@media screen and (max-width: 575px) {
  body section.member_popup div.member_container div {
    flex-basis: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
  }
}
body section.member_popup div.member_container div h1 {
  flex-basis: 100%;
  color: #1f425a;
  text-align: center;
  margin: 30px auto;
}
body section.member_popup div.member_container div input {
  flex-basis: 80%;
  margin: 5px 0;
  border: none;
  outline: none;
  font-size: 1.6em;
  padding: 10px;
  background-color: #dfdfdf;
}
body section.member_popup div.member_container div.login {
  opacity: 1;
  right: 0;
}
@media screen and (max-width: 575px) {
  body section.member_popup div.member_container div.login {
    display: flex;
    border: 15px solid #1f425a;
  }
}
body section.member_popup div.member_container div.login span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  color: #1f425a;
  display: none;
}
@media screen and (max-width: 575px) {
  body section.member_popup div.member_container div.login span {
    display: inline-block;
    cursor: pointer;
  }
}
body section.member_popup div.member_container div.login a {
  flex-basis: 80%;
  margin: 5px 0;
  padding: 10px;
  color: #d6938d;
}
body section.member_popup div.member_container div.login button.signIn {
  flex-basis: 80%;
  color: #1f425a;
  font-weight: bolder;
  background: white;
  border: 3px solid #1f425a;
  font-size: 25px;
  margin: 30px;
  padding: 5px 0;
  transition: 0.1s linear;
  cursor: pointer;
}
body section.member_popup div.member_container div.login button.signIn:hover {
  color: white;
  background-color: #1f425a;
}
body section.member_popup div.member_container .login.moveLeft {
  opacity: 0;
  right: -10%;
}
@media screen and (max-width: 575px) {
  body section.member_popup div.member_container .login.moveLeft {
    opacity: 1;
    right: 0;
  }
}
body section.member_popup div.member_container div.register {
  left: -10%;
  opacity: 0;
}
@media screen and (max-width: 575px) {
  body section.member_popup div.member_container div.register {
    left: 0;
    opacity: 1;
    border: 15px solid #6e071a;
  }
}
body section.member_popup div.member_container div.register h1 {
  color: #6e071a;
  margin: 30px auto;
}
body section.member_popup div.member_container div.register span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  color: #6e071a;
  display: none;
}
@media screen and (max-width: 575px) {
  body section.member_popup div.member_container div.register span {
    display: inline-block;
    cursor: pointer;
  }
}
body section.member_popup div.member_container div.register button {
  flex-basis: 80%;
  color: #6e071a;
  font-weight: bolder;
  background-color: white;
  border: 3px solid #6e071a;
  font-size: 25px;
  margin: 30px;
  padding: 5px 0;
  transition: 0.1s linear;
  cursor: pointer;
}
body section.member_popup div.member_container div.register button:hover {
  background: #6e071a;
  color: white;
}
body section.member_popup div.member_container .register.moveRight {
  display: flex;
  opacity: 1;
  left: 0;
}
body section.member_popup div.member_container div.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #1f425a;
  position: absolute;
  z-index: 3;
  transition: ease-in-out 0.3s all;
  right: 0;
}
@media screen and (max-width: 575px) {
  body section.member_popup div.member_container div.filter {
    display: none;
  }
}
body section.member_popup div.member_container div.filter button.switch {
  flex-basis: 80%;
  font-weight: bolder;
  color: #1f425a;
  background: white;
  font-size: 25px;
  margin: 30px;
  outline: none;
  border: none;
  padding: 10px;
  transition: 0.1s linear;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
body section.member_popup div.member_container .filter.moveBtn {
  right: 50%;
  background-color: #6e071a;
}

body.overflow {
  overflow-y: hidden;
}

header {
  height: 70px;
  margin: 0 auto;
  width: 100%;
  background-color: #f0f0f0;
  position: sticky;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transition: 0.3s all linear;
  top: 0;
  z-index: 6;
}
header nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  header nav {
    justify-content: space-between;
  }
}
header nav > a {
  height: 100%;
  margin-left: 10px;
}
header nav img.logo {
  max-width: 200px;
  padding-left: 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  header nav img.logo {
    max-width: 180px;
  }
}
header nav ul.link_list {
  display: flex;
  margin-left: 40px;
  font-family: "myFontBold";
}
@media screen and (max-width: 992px) {
  header nav ul.link_list {
    display: none;
  }
}
header nav ul.link_list li {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  padding: 8px;
  margin: 0 6px;
  color: #1f425a;
  font-weight: bolder;
  transition: 0.2s linear;
}
header nav ul.link_list li a {
  font-size: 20px;
  color: unset;
}
header nav ul.link_list li.theme {
  position: relative;
  font-size: 20px;
}
header nav ul.link_list li.theme span {
  display: none;
  background: #f0f0f0;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  text-shadow: 0.1px 0.1px white;
  border-bottom: 4px solid transparent;
  transition: all linear 0.1s;
}
header nav ul.link_list li.theme .first_span {
  padding-top: 10px;
  top: 100%;
}
header nav ul.link_list li.theme .second_span {
  top: 253%;
}
header nav ul.link_list li.theme span:hover {
  border-bottom: 4px solid #d6938d;
}
header nav ul.link_list li.theme:hover span {
  display: block;
}
header nav ul.link_list li:hover {
  cursor: pointer;
  border-left: 4px solid #d6938d;
  border-right: 4px solid #d6938d;
}
header nav div.nav_function {
  order: 2;
  margin-left: auto;
  height: 100%;
  padding-right: 10px;
}
@media screen and (max-width: 992px) {
  header nav div.nav_function {
    display: none;
  }
}
header nav div.nav_function img {
  height: 25px;
  position: relative;
  top: 50%;
  padding: 0 10px;
  transform: translateY(-50%);
  transition: linear 0.3s;
  opacity: 0.6;
}
header nav div.nav_function img:hover {
  opacity: 1;
  transform: translateY(-55%);
}
header nav div.hamburger_box {
  display: none;
  cursor: pointer;
  height: 100%;
  position: relative;
  z-index: 3;
  padding-right: 10px;
  bottom: 0;
  right: 3px;
}
header nav div.hamburger_box span {
  width: 25px;
  height: 4px;
  background-color: #1f425a;
  transition: 0.3s all linear;
  border-radius: 3px;
}
header nav div.hamburger_box span.hamburger_top {
  transform-origin: bottom left;
}
header nav div.hamburger_box span.hamburger_mid {
  margin: 5.5px auto;
}
header nav div.hamburger_box span.hamburger_bot {
  transform-origin: top left;
}
@media screen and (max-width: 992px) {
  header nav div.hamburger_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
header nav div.change .hamburger_top {
  transform: rotate(45deg);
  transform-origin: bottom left;
}
header nav div.change .hamburger_mid {
  opacity: 0;
}
header nav div.change .hamburger_bot {
  transform: rotate(-45deg);
  transform-origin: top left;
}
header .hamburger_list {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  background-color: #f0f0f0;
  animation-name: ham;
  animation-timing-function: linear;
  animation-duration: 0.3s;
  animation-fill-mode: backwards;
}
@keyframes ham {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header .hamburger_list li {
  color: #1f425a;
  font-weight: bolder;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #cecece;
}
header .hamburger_list li a {
  display: block;
  width: 100%;
  padding: 20px;
  text-decoration: unset;
  color: unset;
}
header .hamburger_list li:hover {
  cursor: pointer;
  background-color: #bebebe;
}
header .hamburger_list img {
  width: 25px;
  height: 25px;
}
header .active {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  backdrop-filter: blur(20px);
}

header.hide_header {
  transform: translateY(-70px);
}

div.overlay {
  display: none;
  position: fixed;
  transition: 0.2s linear;
  z-index: 9;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay.overlay_show {
  display: block;
}

aside.cart_popup {
  height: 100%;
  width: 400px;
  border: 5px solid #dbdbdb;
  transition: 0.1s linear;
  background: white;
  position: fixed;
  transform: translateX(100%);
  z-index: 10;
  opacity: 0;
  right: 0;
  top: 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  aside.cart_popup {
    width: 100%;
  }
}
aside.cart_popup div.cart_box {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
aside.cart_popup div.cart_box button {
  position: absolute;
  padding: 5px;
  font-weight: bold;
  font-size: 30px;
  background: transparent;
  top: 5px;
  right: 5px;
  color: #c7c7c7;
}
aside.cart_popup div.cart_box h3 {
  flex-basis: 100%;
  color: #1f425a;
  padding: 30px 0;
  border-bottom: 5px solid #dbdbdb;
  align-self: flex-start;
  text-align: center;
}
aside.cart_popup div.cart_box img {
  width: 100px;
  margin: 20px auto;
}
aside.cart_popup div.cart_box h4 {
  flex-basis: 100%;
  margin: 20px auto;
  text-align: center;
  align-self: flex-start;
}

aside.cart_popup.cart_slide {
  transform: translateX(0);
  opacity: 1;
}

footer {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f425a;
}
@media screen and (max-width: 992px) {
  footer {
    flex-wrap: wrap;
  }
}
footer div.socialMedia {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 575px) {
  footer div.socialMedia {
    justify-content: center;
    flex-basis: 100%;
    margin: 15px auto;
  }
}
footer div.socialMedia a {
  display: flex;
}
footer div.socialMedia a img {
  border-radius: 50%;
  width: 40px;
  margin: auto 15px;
}
footer h1.copyRight {
  font-size: 18px;
  color: whitesmoke;
  text-align: center;
}
@media screen and (max-width: 992px) {
  footer h1.copyRight {
    flex-basis: 100%;
    order: -1;
    margin: 0 auto 15px;
  }
}
@media screen and (max-width: 575px) {
  footer h1.copyRight {
    margin: 0;
  }
}
footer div.subscribe {
  display: flex;
  align-items: center;
}
footer div.subscribe span {
  color: whitesmoke;
}
footer div.subscribe input {
  border: 2px solid whitesmoke;
  margin: auto 5px;
  height: 18px;
  border-radius: 2px;
  outline: none;
}
footer div.subscribe button {
  border: unset;
  height: 24px;
  border: 2px solid whitesmoke;
  background-color: #1f425a;
  text-align: center;
  color: whitesmoke;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s all linear;
}
footer div.subscribe button:hover {
  background-color: whitesmoke;
  color: #1f425a;
}

body {
  scroll-behavior: smooth;
}

div.goTop {
  position: fixed;
  z-index: 4;
  bottom: 20px;
  right: 20px;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 575px) {
  div.goTop {
    right: 10px;
  }
}
div.goTop span {
  font-size: 20px;
  padding: 10px 13px 10px 15px;
  border: 4px solid #1f425a;
  border-radius: 50%;
  background-color: whitesmoke;
  font-weight: bolder;
  color: #1f425a;
  -webkit-text-stroke: 2px #1f425a;
}
@media screen and (max-width: 767px) {
  div.goTop span {
    font-size: 15px;
    padding: 8px 11px 8px 13px;
  }
}

ul.link_list li:nth-child(3) {
  border-left: 4px solid #d6938d;
  border-right: 4px solid #d6938d;
}

section.critism {
  margin: 100px auto 200px;
  width: 90%;
  background-color: rgba(31, 66, 90, 0.6);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  section.critism {
    width: 100%;
    margin: 50px auto 130px;
  }
}
@media screen and (max-width: 767px) {
  section.critism {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  section.critism {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}
section.critism img {
  max-width: 300px;
  transform: translateY(-60px);
  filter: drop-shadow(-10px -10px #afafaf);
  margin: 0 20px;
}
@media screen and (max-width: 1199px) {
  section.critism img {
    max-width: 250px;
  }
}
@media screen and (max-width: 992px) {
  section.critism img {
    transform: translateY(-90px);
  }
}
@media screen and (max-width: 767px) {
  section.critism img {
    filter: drop-shadow(-5px -5px #afafaf);
    max-width: 300px;
    transform: translateY(-30px);
  }
}
@media screen and (max-width: 575px) {
  section.critism img {
    max-width: 200px;
  }
}
section.critism div.critic {
  flex-basis: 60%;
  border: 6px solid #8a8a8a;
  text-align: left;
  background-color: white;
  padding: 20px 30px;
  transform: translateY(100px);
}
@media screen and (max-width: 767px) {
  section.critism div.critic {
    flex-basis: 90%;
    transform: translateY(-20px);
  }
}
@media screen and (max-width: 575px) {
  section.critism div.critic {
    flex-basis: 95%;
  }
}
section.critism div.critic h3 {
  color: #1f425a;
}
section.critism div.critic h3 span {
  color: #6e071a;
  padding-left: 15px;
}
section.critism div.critic p {
  margin: 10px;
}

section.article_container {
  width: 95%;
  text-align: left;
  margin: 30px auto;
  padding: 10px 30px;
  background-color: #f0f0f0;
  box-sizing: border-box;
}
section.article_container h3.title {
  color: #6e071a;
  margin: 10px auto 20px;
}
@media screen and (max-width: 1199px) {
  section.article_container {
    width: 100%;
    padding: 15px 20px;
  }
}
@media screen and (max-width: 992px) {
  section.article_container {
    padding: 10px;
  }
}
section.article_container article.masonry {
  box-sizing: border-box;
  columns: 4;
  column-gap: 20px;
}
@media screen and (max-width: 1399px) {
  section.article_container article.masonry {
    columns: 3;
  }
}
@media screen and (max-width: 992px) {
  section.article_container article.masonry {
    columns: 2;
  }
}
@media screen and (max-width: 767px) {
  section.article_container article.masonry {
    columns: 1;
  }
}
section.article_container article.masonry div.article {
  background-color: white;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  break-inside: avoid;
}
section.article_container article.masonry div.article h3 {
  color: #1f425a;
  text-align: left;
  margin: 20px 0;
}
section.article_container article.masonry div.article h5 {
  text-align: right;
  color: #d6938d;
}
section.article_container article.masonry div.article p {
  text-align: left;
  padding: 15px;
}
section.article_container article.masonry div.article img {
  width: 90%;
  margin: 10px auto;
}

.normal {
  opacity: 0;
  transition: 0.2s linear all;
  transform: translateY(30%);
}

.normal.slide_ani {
  transform: translateY(0);
  opacity: 1;
}