html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 12px;
}

h1 {
  font-size: 4.5rem;
  line-height: 3rem;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 992px) {
  h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 2.6rem;
    letter-spacing: 0.1em;
  }
}

h3 {
  font-size: 2.3rem;
  line-height: 3.5rem;
  letter-spacing: 0.1em;
}

h4 {
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 1399px) {
  h4 {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 992px) {
  h4 {
    font-size: 1.65rem;
  }
}

h5 {
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 1399px) {
  h5 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  h5 {
    font-size: 1.4rem;
  }
}

p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  text-indent: 2em;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  p {
    font-size: 1.5rem;
  }
}

li {
  font-size: 1.6rem;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  li {
    font-size: 1.5rem;
  }
}

span {
  font-size: 1.6rem;
  font-weight: bolder;
  line-height: 3rem;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  span {
    font-size: 1.5rem;
  }
}

a {
  font-size: 1.6rem;
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: unset;
}
@media screen and (max-width: 767px) {
  a {
    font-size: 1.5rem;
  }
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0;
  appearance: none;
}

div {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  transition: linear margin-left 0.2s;
}
body section.member_popup {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.6);
  animation: popUp 0.2s linear;
}
@keyframes popUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body section.member_popup button.close {
  font-size: 40px;
  position: fixed;
  z-index: 6;
  color: whitesmoke;
  font-weight: bolder;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  body section.member_popup button.close {
    font-size: 30px;
  }
}
@media screen and (max-width: 575px) {
  body section.member_popup button.close {
    color: #8f8f8f;
    text-shadow: none;
    font-size: 25px;
    top: 10px;
    right: 15px;
  }
}
body section.member_popup div.member_container {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: white;
}
@media screen and (max-width: 767px) {
  body section.member_popup div.member_container {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  body section.member_popup div.member_container {
    height: 100%;
  }
}
body section.member_popup div.member_container div {
  flex-basis: 50%;
  height: 100%;
  padding: 30px;
  position: relative;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  transition: linear 0.2s all;
}
@media screen and (max-width: 575px) {
  body section.member_popup div.member_container div {
    flex-basis: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
  }
}
body section.member_popup div.member_container div h1 {
  flex-basis: 100%;
  color: #1f425a;
  font-size: 30px;
  text-align: center;
}
body section.member_popup div.member_container div input {
  flex-basis: 80%;
  margin: 5px 0;
  border: none;
  outline: none;
  padding: 10px;
  background-color: #dfdfdf;
}
body section.member_popup div.member_container div.login {
  opacity: 1;
  right: 0;
}
@media screen and (max-width: 575px) {
  body section.member_popup div.member_container div.login {
    display: flex;
    border: 15px solid #1f425a;
  }
}
body section.member_popup div.member_container div.login span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  padding: 10px;
  color: #1f425a;
  font-weight: bolder;
  display: none;
}
@media screen and (max-width: 575px) {
  body section.member_popup div.member_container div.login span {
    display: inline-block;
  }
}
body section.member_popup div.member_container div.login a {
  flex-basis: 80%;
  margin: 5px 0;
  padding: 10px;
  text-decoration: none;
  color: #d6938d;
}
body section.member_popup div.member_container div.login button.signIn {
  flex-basis: 80%;
  color: #1f425a;
  font-weight: bolder;
  background: white;
  border: 3px solid #1f425a;
  font-size: 25px;
  margin: 30px;
  padding: 5px 0;
  transition: 0.1s linear;
  cursor: pointer;
}
body section.member_popup div.member_container div.login button.signIn:hover {
  color: white;
  background-color: #1f425a;
}
body section.member_popup div.member_container .login.moveLeft {
  opacity: 0;
  right: -10%;
}
@media screen and (max-width: 575px) {
  body section.member_popup div.member_container .login.moveLeft {
    opacity: 1;
    right: 0;
  }
}
body section.member_popup div.member_container div.register {
  left: -10%;
  opacity: 0;
}
@media screen and (max-width: 575px) {
  body section.member_popup div.member_container div.register {
    left: 0;
    opacity: 1;
    border: 15px solid #6e071a;
  }
}
body section.member_popup div.member_container div.register h1 {
  color: #6e071a;
}
body section.member_popup div.member_container div.register span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  padding: 10px;
  color: #6e071a;
  font-weight: bolder;
  display: none;
}
@media screen and (max-width: 575px) {
  body section.member_popup div.member_container div.register span {
    display: inline-block;
  }
}
body section.member_popup div.member_container div.register button {
  flex-basis: 80%;
  color: #6e071a;
  font-weight: bolder;
  background-color: white;
  border: 3px solid #6e071a;
  font-size: 25px;
  margin: 30px;
  padding: 5px 0;
  transition: 0.1s linear;
  cursor: pointer;
}
body section.member_popup div.member_container div.register button:hover {
  background: #6e071a;
  color: white;
}
body section.member_popup div.member_container .register.moveRight {
  display: flex;
  opacity: 1;
  left: 0;
}
body section.member_popup div.member_container div.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #1f425a;
  position: absolute;
  z-index: 3;
  transition: ease-in-out 0.3s all;
  right: 0;
}
@media screen and (max-width: 575px) {
  body section.member_popup div.member_container div.filter {
    display: none;
  }
}
body section.member_popup div.member_container div.filter button.switch {
  flex-basis: 80%;
  font-weight: bolder;
  color: #1f425a;
  background: white;
  font-size: 25px;
  margin: 30px;
  outline: none;
  border: none;
  padding: 10px;
  transition: 0.1s linear;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
body section.member_popup div.member_container .filter.moveBtn {
  right: 50%;
  background-color: #6e071a;
}

body.overflow {
  overflow-y: hidden;
}

header {
  height: 70px;
  margin: 0 auto;
  width: 100%;
  background-color: #f0f0f0;
  position: sticky;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transition: 0.3s all linear;
  top: 0;
  z-index: 6;
}
header nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  header nav {
    justify-content: space-between;
  }
}
header nav > a {
  height: 100%;
  margin-left: 10px;
}
header nav img.logo {
  max-width: 200px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
header nav ul.link_list {
  display: flex;
  margin-left: 30px;
}
@media screen and (max-width: 992px) {
  header nav ul.link_list {
    display: none;
  }
}
header nav ul.link_list li {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  padding: 10px;
  margin: 0 5px;
  color: #1f425a;
  font-weight: bolder;
  transition: 0.1s linear;
}
header nav ul.link_list li a {
  font-size: 20px;
  color: unset;
}
header nav ul.link_list li.theme {
  position: relative;
  font-size: 20px;
}
header nav ul.link_list li.theme span {
  display: none;
  background: #f0f0f0;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  text-shadow: 0.1px 0.1px white;
  border-bottom: 4px solid transparent;
  transition: all linear 0.1s;
}
header nav ul.link_list li.theme .first_span {
  padding-top: 7px;
  top: 112%;
}
header nav ul.link_list li.theme .second_span {
  top: 242%;
}
header nav ul.link_list li.theme span:hover {
  border-bottom: 4px solid #d6938d;
}
header nav ul.link_list li.theme:hover span {
  display: block;
}
header nav ul.link_list li:hover {
  cursor: pointer;
  border-top: 4px solid #d6938d;
  border-bottom: 4px solid #d6938d;
}
header nav div.nav_function {
  order: 2;
  margin-left: auto;
  height: 100%;
  padding-right: 10px;
}
@media screen and (max-width: 992px) {
  header nav div.nav_function {
    display: none;
  }
}
header nav div.nav_function img {
  height: 25px;
  position: relative;
  top: 50%;
  padding: 0 10px;
  transform: translateY(-50%);
  transition: linear 0.3s;
  opacity: 0.6;
}
header nav div.nav_function img:hover {
  opacity: 1;
  transform: translateY(-55%);
}
header nav div.hamburger_box {
  display: none;
  cursor: pointer;
  height: 100%;
  position: relative;
  z-index: 3;
  padding-right: 10px;
  bottom: 0;
  right: 3px;
}
header nav div.hamburger_box span {
  width: 25px;
  height: 4px;
  background-color: #1f425a;
  transition: 0.3s all linear;
  border-radius: 3px;
}
header nav div.hamburger_box span.hamburger_top {
  transform-origin: bottom left;
}
header nav div.hamburger_box span.hamburger_mid {
  margin: 5.5px auto;
}
header nav div.hamburger_box span.hamburger_bot {
  transform-origin: top left;
}
@media screen and (max-width: 992px) {
  header nav div.hamburger_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
header nav div.change .hamburger_top {
  transform: rotate(45deg);
  transform-origin: bottom left;
}
header nav div.change .hamburger_mid {
  opacity: 0;
}
header nav div.change .hamburger_bot {
  transform: rotate(-45deg);
  transform-origin: top left;
}
header .hamburger_list {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  background-color: #f0f0f0;
  animation-name: ham;
  animation-timing-function: linear;
  animation-duration: 0.3s;
  animation-fill-mode: backwards;
}
@keyframes ham {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header .hamburger_list li {
  color: #1f425a;
  font-weight: bolder;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #cecece;
}
header .hamburger_list li a {
  display: block;
  width: 100%;
  padding: 20px;
  text-decoration: unset;
  color: unset;
}
header .hamburger_list li:hover {
  cursor: pointer;
  background-color: #bebebe;
}
header .hamburger_list img {
  width: 25px;
  height: 25px;
}
header .active {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  backdrop-filter: blur(20px);
}

header.hide_header {
  transform: translateY(-70px);
}

footer {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f425a;
}
@media screen and (max-width: 992px) {
  footer {
    flex-wrap: wrap;
  }
}
footer div.socialMedia {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 575px) {
  footer div.socialMedia {
    justify-content: center;
    flex-basis: 100%;
    margin: 15px auto;
  }
}
footer div.socialMedia a {
  display: flex;
}
footer div.socialMedia a img {
  border-radius: 50%;
  width: 40px;
  margin: auto 15px;
}
footer h1.copyRight {
  font-size: 18px;
  color: whitesmoke;
  text-align: center;
}
@media screen and (max-width: 992px) {
  footer h1.copyRight {
    flex-basis: 100%;
    order: -1;
    margin: 0 auto 15px;
  }
}
@media screen and (max-width: 575px) {
  footer h1.copyRight {
    margin: 0;
  }
}
footer div.subscribe {
  display: flex;
  align-items: center;
}
footer div.subscribe span {
  color: whitesmoke;
}
footer div.subscribe input {
  border: 2px solid whitesmoke;
  margin: auto 5px;
  height: 18px;
  border-radius: 2px;
  outline: none;
}
footer div.subscribe button {
  border: unset;
  height: 24px;
  border: 2px solid whitesmoke;
  background-color: #1f425a;
  text-align: center;
  color: whitesmoke;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s all linear;
}
footer div.subscribe button:hover {
  background-color: whitesmoke;
  color: #1f425a;
}

section.slider_container {
  box-sizing: border-box;
  max-width: 1370px;
  margin: 70px auto 0;
  padding-top: 20px;
  overflow: hidden;
}
@media screen and (max-width: 1399px) {
  section.slider_container {
    width: 1170px;
  }
}
@media screen and (max-width: 1199px) {
  section.slider_container {
    width: 960px;
  }
}
@media screen and (max-width: 992px) {
  section.slider_container {
    width: 730px;
    margin: 40px auto 0;
  }
}
@media screen and (max-width: 767px) {
  section.slider_container {
    width: 450px;
    margin: 30px auto 0;
  }
}
@media screen and (max-width: 575px) {
  section.slider_container {
    width: 340px;
    margin: 20px auto 0;
  }
}
section.slider_container h2.recommend {
  color: #6e071a;
  margin-bottom: 30px;
}
section.slider_container div.slider {
  width: 4000px;
  transition: 0.3s linear;
  box-sizing: border-box;
}
section.slider_container div.slider div.inner {
  box-sizing: border-box;
  float: left;
  width: 305px;
  margin: 0 20px;
}
@media screen and (max-width: 1399px) {
  section.slider_container div.slider div.inner {
    width: 350px;
  }
}
@media screen and (max-width: 1199px) {
  section.slider_container div.slider div.inner {
    width: 280px;
  }
}
@media screen and (max-width: 992px) {
  section.slider_container div.slider div.inner {
    width: 320px;
  }
}
@media screen and (max-width: 767px) {
  section.slider_container div.slider div.inner {
    width: 400px;
  }
}
@media screen and (max-width: 575px) {
  section.slider_container div.slider div.inner {
    width: 310px;
  }
}
section.slider_container div.slider div.inner div.inner_img {
  margin: 0 auto;
  width: 100%;
  height: 180px;
  background-color: black;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  section.slider_container div.slider div.inner div.inner_img {
    height: 230px;
  }
}
@media screen and (max-width: 767px) {
  section.slider_container div.slider div.inner div.inner_img {
    height: 215px;
  }
}
section.slider_container div.slider div.inner .inner_img_1 {
  background-image: url(../../J/image/critic4.jpg);
}
section.slider_container div.slider div.inner .inner_img_2 {
  background-image: url(../../J/image/critic_6.jpg);
}
section.slider_container div.slider div.inner .inner_img_3 {
  background-image: url(../../J/image/critic_8.jpg);
}
section.slider_container div.slider div.inner .inner_img_4 {
  background-image: url(../../J/image/critic_15.jpeg);
}
section.slider_container div.slider div.inner .inner_img_5 {
  background-image: url(../../J/image/critic_1.jpg);
}
section.slider_container div.slider div.inner .inner_img_6 {
  background-image: url(../../J/image/critic_3.jpg);
}
section.slider_container div.slider div.inner hr {
  height: 2px;
  border: unset;
  background: #1f425a;
  margin: 15px auto;
}
section.slider_container div.slider div.inner h4 {
  color: #1f425a;
  margin: 10px auto;
}
section.slider_container div.slider div.inner p {
  text-indent: 0;
  margin: 10px auto;
  font-weight: bolder;
}
section.slider_container div.buttons {
  width: 100%;
  text-align: center;
}
section.slider_container div.buttons button {
  margin: 40px 60px;
  font-size: 28px;
  color: #1f425a;
  font-weight: bolder;
  border-radius: 5px;
}
@media screen and (max-width: 575px) {
  section.slider_container div.buttons button {
    margin: 15px 20px;
  }
}
section.slider_container div.buttons button:nth-of-type(1) {
  transform: rotate(180deg);
}

section.pagination {
  width: 60%;
  margin: 30px auto;
}
section.pagination ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-left: 0;
}
section.pagination ul li.page_item {
  color: #1f425a;
  padding: 5px 10px;
  font-weight: bolder;
  cursor: pointer;
}
section.pagination ul li.page_item:nth-of-type(2) {
  background-color: #1f425a;
  color: whitesmoke;
}
section.pagination ul li.page_item:hover {
  background-color: #1f425a;
  color: whitesmoke;
}

body {
  scroll-behavior: smooth;
}

div.goTop {
  position: fixed;
  z-index: 4;
  bottom: 20px;
  right: 20px;
  text-align: center;
  cursor: pointer;
}
div.goTop span {
  font-size: 20px;
  padding: 10px 15px;
  border: 4px solid #1f425a;
  border-radius: 50%;
  background-color: whitesmoke;
  font-weight: 1200;
  color: #1f425a;
  text-shadow: 0.02em 0.02em #1f425a;
}

ul.link_list li:nth-child(4) {
  border-bottom: 4px solid #d6938d;
  border-top: 4px solid #d6938d;
}

section.slider_banner {
  max-width: 1350px;
  margin: 30px auto;
  background-color: #f0f0f0;
  position: relative;
}
@media screen and (max-width: 1399px) {
  section.slider_banner {
    max-width: 1150px;
  }
}
@media screen and (max-width: 1199px) {
  section.slider_banner {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  section.slider_banner {
    margin: 0 auto;
  }
}
section.slider_banner div.slider_wrapper {
  width: 100%;
  padding: 20px;
}
@media screen and (max-width: 992px) {
  section.slider_banner div.slider_wrapper {
    padding: 0;
  }
}
@keyframes slider {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section.slider_banner div.slider_wrapper div {
  width: 100%;
  height: 600px;
  border: 1px solid blanchedalmond;
  display: none;
  transition: 0.3s all linear;
  animation: slider 0.3s linear;
}
@media screen and (max-width: 1399px) {
  section.slider_banner div.slider_wrapper div {
    height: 500px;
  }
}
@media screen and (max-width: 1199px) {
  section.slider_banner div.slider_wrapper div {
    height: 450px;
  }
}
@media screen and (max-width: 992px) {
  section.slider_banner div.slider_wrapper div {
    height: 380px;
  }
}
@media screen and (max-width: 767px) {
  section.slider_banner div.slider_wrapper div {
    height: 300px;
  }
}
@media screen and (max-width: 575px) {
  section.slider_banner div.slider_wrapper div {
    height: 230px;
  }
}
section.slider_banner div.slider_wrapper div.showSlide {
  display: block;
}
section.slider_banner div.slider_wrapper div.slider_img:nth-of-type(1) {
  background-image: url("../../J/image/slide_1.jpg");
  background-position: center;
  background-size: cover;
}
section.slider_banner div.slider_wrapper div.slider_img:nth-of-type(2) {
  background-image: url("../../J/image/slide_2.jpg");
  background-position: center;
  background-size: cover;
}
section.slider_banner div.slider_wrapper div.slider_img:nth-of-type(3) {
  background-image: url("../../J/image/slide_3.jpg");
  background-position: center;
  background-size: cover;
}
section.slider_banner div.slider_wrapper div.slider_img:nth-of-type(4) {
  background-image: url("../../J/image/slide_4.jpg");
  background-position: center;
  background-size: cover;
}
section.slider_banner div.slider_btn button {
  position: absolute;
  top: 40%;
  border: none;
  font-weight: bolder;
  color: #1f425a;
  font-size: 30px;
  padding: 40px 10px;
  border-radius: 10px;
  transition: 0.2s linear;
  background: whitesmoke;
  cursor: pointer;
  opacity: 1;
}
@media screen and (max-width: 992px) {
  section.slider_banner div.slider_btn button {
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 10px;
    font-size: 25px;
  }
}
@media screen and (max-width: 767px) {
  section.slider_banner div.slider_btn button {
    display: none;
  }
}
section.slider_banner div.slider_btn button:nth-of-type(1) {
  left: 0;
}
section.slider_banner div.slider_btn button:nth-of-type(2) {
  right: 0;
}
section.slider_banner div.slider_spot {
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 992px) {
  section.slider_banner div.slider_spot {
    display: none;
  }
}
section.slider_banner div.slider_spot span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 20px 10px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.5);
  transition: 0.3s all linear;
  cursor: pointer;
}
section.slider_banner div.slider_spot span:hover {
  background-color: #1f425a;
}
section.slider_banner div.slider_spot span.showSpot {
  background-color: #1f425a;
}

div.filter {
  max-width: 1350px;
  margin: 20px auto;
}
div.filter ul {
  background-color: #1f425a;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
div.filter ul li {
  padding: 5px 10px;
  color: whitesmoke;
  cursor: pointer;
  transition: 0.3s all linear;
}
div.filter ul li:hover {
  background-color: whitesmoke;
  color: #1f425a;
}

section.goods {
  width: 95%;
  margin: 30px auto;
  box-sizing: border-box;
  border: 5px solid rgba(31, 66, 90, 0.6);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
section.goods div.product {
  margin: 40px 20px;
}
section.goods div.product a {
  text-decoration: none;
}
section.goods div.product div.product_img {
  width: 300px;
  height: 300px;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
}
section.goods div.product div.product_img img {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
section.goods div.product div.product_img div.product_info {
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  opacity: 0;
  margin: 0 auto;
  transition: 0.3s all linear;
  border: 3px solid white;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  section.goods div.product div.product_img div.product_info {
    opacity: 1;
    transform: scale(0.9);
  }
}
section.goods div.product div.product_img div.product_info h3 {
  color: #1f425a;
  width: 100%;
  background-color: white;
  padding: 10px;
}
section.goods div.product div.product_img div.product_info span {
  color: #b82121;
}
@media screen and (max-width: 767px) {
  section.goods div.product div.product_img div.product_info span {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 767px) {
  section.goods div.product div.product_img div.product_info span {
    font-size: 1.6rem;
  }
}
section.goods div.product div.product_img div.product_info:hover {
  opacity: 1;
  transform: scale(0.9);
}
section.goods div.product div.buy {
  display: flex;
  justify-content: space-between;
}
section.goods div.product div.buy button {
  flex-basis: 49%;
  background-color: #f0f0f0;
  outline: none;
  border: none;
  color: #1f425a;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 0;
  transition: 0.2s all linear;
  cursor: pointer;
}
section.goods div.product div.buy button:hover {
  background-color: #1f425a;
  color: whitesmoke;
}