html{
    scroll-behavior: smooth;
    font-size: 12px;
}

h1{
    font-size: 4.5rem;
    line-height: 3rem;
    letter-spacing: 0.2em;
    @media screen and(max-width:$mq2){
        font-size: 4rem;
    }
    @media screen and(max-width:$mq3){
        font-size: 3.5rem;
    }
}

h2{
    font-size: 3.5rem;
    line-height: 4rem;
    letter-spacing: 0.2em;
    @media screen and(max-width:$mq2){
        font-size: 3rem;
        line-height: 3.5rem;
    }
    @media screen and(max-width:$mq3){
        font-size: 2.6rem;
        letter-spacing: 0.1em;
    }
}

h3{
    font-size: 2.3rem;
    line-height: 3.5rem;
    letter-spacing: 0.1em;
}

h4{
    font-size: 1.8rem;
    line-height: 3rem;
    letter-spacing: 0.1em;
    @media screen and(max-width:$mq0){
        font-size:1.75rem;
    }
    @media screen and(max-width:$mq2){
        font-size: 1.65rem;
    }
}

h5{
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: 0.1em;
    @media screen and(max-width:$mq0){
        font-size:1.5rem;
    }
    @media screen and(max-width:$mq3){
        font-size: 1.4rem;
    }
}

p{
    font-size:1.6rem;
    line-height: 2.8rem;
    text-indent: 2em;
    letter-spacing: 0.1em;
    @media screen and(max-width:$mq3){
        font-size: 1.5rem;
    }
}
li{
    font-size:1.6rem;
    letter-spacing: 0.1em;
    @media screen and(max-width:$mq3){
        font-size: 1.5rem;
    }
}
span{
    font-size:1.6rem;
    font-weight: bolder;
    line-height: 3rem;
    letter-spacing: 0.1em;
    @media screen and(max-width:$mq3){
        font-size: 1.5rem;
    }
}

a{
    font-size:1.6rem;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: unset;
    @media screen and(max-width:$mq3){
        font-size: 1.5rem;
    }
}

button{
    border: none;
    outline: none;
    border-radius: 0;
    cursor: pointer;
}

div{
    box-sizing: border-box;
}
