$mq0:1399px;
$mq1:1199px;
$mq2:992px;
$mq3:767px;
$mq4:575px;

$grey:rgb(240, 240, 240);
$grey2:rgb(190,190,190);
$blue:rgb(31, 66, 90);
$pink:#d6938d;
$greyLine:rgb(206, 206, 206);
$white:whitesmoke;
$red:rgb(110, 7, 26);
$card:rgba(0, 0, 0, 0.301);
$bgGrey:rgb(251, 251, 251);
$green:rgba(31, 66, 90, 0.6);

$title:24px;
$sub:22px;
$card_text:18px;
$text:16px;

$index_margin: 30px auto 20px;