
<section class="slider_container">
    <h2 class="recommend">｜文章推薦｜</h2>
    <div class="slider">
        <div class="inner">
            <a href="column.html">
                <div class="inner_img inner_img_1"></div>
                <hr>
                <h4>【影評專欄】</h4>
                <p>《發條橘子》：當暴力無孔不入，只剩一顆腐爛的橘子</p>
            </a>
        </div>
        <div class="inner">
            <a href="column.html">
                <div class="inner_img inner_img_2"></div>
                <hr>
                <h4>【影評專欄】</h4>
                <p>《從前，有個好萊塢》：導演為何要篡改歷史</p>
            </a>
        </div>
        <div class="inner">
            <a href="column.html"> 
                <div class="inner_img inner_img_3"></div>
                <hr>
                <h4>【影評專欄】</h4>
                <p>《小丑》：我以為我的人生是樁悲劇</p>
            </a>
        </div>
        <div class="inner">
            <a href="column.html">
                <div class="inner_img inner_img_4"></div>
                <hr>
                <h4>【影評專欄】</h4>
                <p>《艾蜜莉的異想世界》：找到那個跟你一樣的奇怪伴侶</p>
            </a>
        </div>
        <div class="inner">
            <a href="column.html">
                <div class="inner_img inner_img_5"></div>
                <hr>
                <h4>【影評專欄】</h4>
                <p>《1917》：清空你的腦，把眼珠黏在無鋒的淒厲大劍上</p>
            </a>
        </div>
        <div class="inner">
            <a href="column.html">
                <div class="inner_img inner_img_6"></div>
                <hr>
                <h4>【影評專欄】</h4>
                <p>《愛爾蘭人》：聽阿公如行雲流水般的講古</p>
            </a>
        </div>
    </div>
    <div class="buttons">
        <button class="move" onclick="plusSlide(-1)" > ➜</button>
        <button class="move" onclick="plusSlide(1)"> ➜</button>
    </div>
</section>
<script src="../../J/js/explore.js"></script>
