body{
    scroll-behavior: smooth;
}
div.goTop{
    position: fixed;
    z-index: 4;
    bottom: 20px;
    right: 20px;
    text-align: center;
    cursor: pointer;
    @media screen and(max-width:$mq4){
        right: 10px;
    }
    span{
        font-size: 20px;
        padding: 10px 13px 10px 15px;
        border: 4px solid $blue;
        border-radius: 50%;
        background-color: whitesmoke;
        font-weight: bolder;
        color: $blue;
        -webkit-text-stroke: 2px $blue;
        @media screen and(max-width:$mq3){
            font-size: 15px;
            padding: 8px 11px 8px 13px;
        }
    }
}