body{
    scroll-behavior: smooth;
}
div.goTop{
    position: fixed;
    z-index: 4;
    bottom: 20px;
    right: 20px;
    text-align: center;
    cursor: pointer;
    span{
        font-size: 20px;
        padding: 10px 13px 10px 15px;
        border: 4px solid $blue;
        border-radius: 50%;
        background-color: whitesmoke;
        font-weight: bolder;
        color: $blue;
        -webkit-text-stroke: 2px $blue;
    }
}