body{
    margin: 0 ;
    padding: 0;
    width: 100%;
    position: relative;
    transition: linear margin-left 0.2s;
    section.member_popup{
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 10;
        backdrop-filter: blur(3px);
        background-color: rgba(0, 0, 0, 0.6);
        animation: popUp 0.2s linear ;
        @keyframes popUp {
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
        button.close{
            font-size: 40px;
            position: fixed;
            z-index: 6;
            color: whitesmoke;
            font-weight: bolder;
            text-shadow: -1px 0 grey, 0 1px grey,1px 0 grey, 0 -1px grey;
            top: 20px;
            right: 20px;
            padding: 10px;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            @media screen and(max-width:$mq3){
                font-size: 30px;
            }
            @media screen and(max-width:$mq4){
                color: rgb(143, 143, 143);
                text-shadow: none ;
                font-size: 25px;
                top: 10px;
                right: 15px;
            }
        }
        div.member_container{
            width: 80%;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background: white;
            @media screen and(max-width:$mq3){
                width: 100%;
            }
            @media screen and(max-width:$mq4){
                height: 100%;
            }
            div{
                flex-basis: 50%;
                height: 100%;
                padding: 30px;
                position: relative;
                z-index: 3;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                transition: linear 0.2s all;
                @media screen and(max-width:$mq4){
                    flex-basis: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: white;
                }
                h1{
                    flex-basis: 100%;
                    color: $blue;
                    text-align: center;
                    margin: 30px auto;
                }
                input{
                    flex-basis: 80%;
                    margin: 5px 0;
                    border: none;
                    outline: none;
                    font-size: 1.6em;
                    padding: 10px;
                    background-color: rgb(223, 223, 223);
                }
            }
            div.login{
                opacity: 1;
                right: 0;
                @media screen and(max-width:$mq4){
                    display: flex;
                    border: 15px solid $blue;
                }
                span{
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 10px;
                    color: $blue;
                    display: none;
                    @media screen and(max-width:$mq4){
                        display: inline-block;
                        cursor: pointer;
                    }
                }
                a{
                    flex-basis: 80%;
                    margin: 5px 0;
                    padding: 10px;
                    color: $pink;
                }
                button.signIn{
                    flex-basis: 80%;
                    color: $blue;
                    font-weight: bolder;
                    background: white;
                    border: 3px solid $blue;
                    font-size: 25px;
                    margin: 30px;
                    padding: 5px 0;
                    transition: 0.1s linear;
                    cursor: pointer;
                }
                button.signIn:hover{
                    color: white;
                    background-color: $blue;
                }
            }
            .login.moveLeft{
                opacity: 0;
                right: -10%;
                @media screen and(max-width:$mq4){
                    opacity: 1;
                    right: 0;
                }
            }
            div.register{
                left: -10%;
                opacity: 0;
                @media screen and(max-width:$mq4){
                    left: 0;
                    opacity: 1;
                    border: 15px solid $red;
                }
                h1{
                    color: $red;
                    margin: 30px auto;
                }
                span{
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 10px;
                    color: $red;
                    display: none;
                    @media screen and(max-width:$mq4){
                        display: inline-block;
                        cursor: pointer;
                    }
                }
                button{
                    flex-basis: 80%;
                    color: $red;
                    font-weight: bolder;
                    background-color: white;
                    border: 3px solid $red;
                    font-size: 25px;
                    margin: 30px;
                    padding: 5px 0;
                    transition: 0.1s linear;
                    cursor: pointer;
                }
                button:hover{
                    background: $red;
                    color: white;
                }
            }
            .register.moveRight{
                display: flex;
                opacity: 1;
                left: 0;
            }
            
            div.filter{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                background-color: $blue;
                position: absolute;
                z-index: 3;
                transition: ease-in-out 0.3s all;
                right: 0;
                @media screen and(max-width:$mq4){
                    display: none;
                }
                button.switch{
                    flex-basis: 80%;
                    font-weight: bolder;
                    color: $blue;
                    background: white;
                    font-size: 25px;
                    margin: 30px;
                    outline: none;
                    border: none;
                    padding: 10px;
                    transition: 0.1s linear;
                    cursor: pointer;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                }
            }
            .filter.moveBtn{
                right: 50%;
                background-color: $red;
            }
        }
    }
}
body.overflow{
    overflow-y: hidden;
}
header{
    height: 70px;
    margin: 0 auto;
    width: 100%;
    background-color: $grey;
    position: sticky;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    transition: 0.3s all linear;
    top: 0;
    z-index: 6;
    nav{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:$mq2){
            justify-content: space-between;
        }
        >a{
            height: 100%;
            margin-left: 10px;
        }
        img.logo{
            max-width: 200px;
            padding-left: 5px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            @media screen and (max-width:$mq3){
                max-width: 180px;
            }
        }
        ul.link_list{
            display: flex; 
            margin-left: 40px;
            font-family: "myFontBold";
            @media screen and (max-width:$mq2){
                display: none;
            }
            li{
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                padding: 8px;
                margin: 0 6px;
                color: rgb(31, 66, 90);
                font-weight: bolder;
                transition: 0.2s linear;
                a{  
                    font-size: 20px;
                    color: unset;
                }
            }
            li.theme{
                position: relative;
                font-size: 20px;
                span{
                    display:none;
                    background: $grey;
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 5px;
                    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
                    text-shadow: 0.1px 0.1px white;
                    border-bottom: 4px solid transparent;
                    transition: all linear 0.1s;
                }
                .first_span{
                    padding-top: 10px;
                    top: 100%;
                }
                .second_span{
                    top: 253%;
                }
                span:hover{
                    border-bottom: 4px solid $pink;
                }
            }
            li.theme:hover span{
                display: block;
            }
            li:hover{
                cursor: pointer;
                border-left: 4px solid $pink;
                border-right: 4px solid $pink;
            }
            
        }
        div.nav_function{
            order: 2;
            margin-left: auto;
            height: 100%;
            padding-right: 10px;
            @media screen and (max-width:$mq2){
                display: none;
            }
            img{
                height: 25px;
                position: relative;
                top: 50%;
                padding: 0 10px;
                transform: translateY(-50%);
                transition: linear 0.3s;
                opacity: 0.6;
            }
            img:hover{
                opacity: 1;
                transform: translateY(-55%);
            }
        }
        div.hamburger_box{
            display: none;
            cursor: pointer;
            height: 100%;
            position: relative;
            z-index: 3;
            padding-right: 10px;
            bottom: 0;
            right: 3px;
            span{
                width: 25px;
                height: 4px;
                background-color: $blue;
                transition: 0.3s all linear;
                border-radius: 3px;
            }
            span.hamburger_top{
                transform-origin:bottom left ;
            }
            span.hamburger_mid{
                margin: 5.5px auto;
            }
            span.hamburger_bot{
                transform-origin: top left;
            }
            @media screen and(max-width:$mq2){ 
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        div.change{
            .hamburger_top{
                transform: rotate(45deg);
                transform-origin: bottom left;
            }
            .hamburger_mid{
                opacity: 0;
            }
            .hamburger_bot{
                transform: rotate(-45deg);
                transform-origin: top left ;
            }
        }
    }
    .hamburger_list{
        display: none;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        list-style: none;
        background-color:$grey;
        animation-name: ham;
        animation-timing-function: linear;
        animation-duration: 0.3s;
        animation-fill-mode: backwards;
        @keyframes ham {
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
        li {
            color: $blue;
            font-weight: bolder;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 1px solid $greyLine;
            a{  
                display: block;
                width: 100%;
                padding: 20px;
                text-decoration: unset;
                color: unset;
            }
        }
        li:hover{
            cursor: pointer;
            background-color: $grey2;
        }
        img{
            width: 25px;
            height: 25px;
        }
    }
    .active{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        backdrop-filter: blur(20px);
    }
    
}
header.hide_header{
    transform: translateY(-70px);
}

//購物車
div.overlay{
    display: none;
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.4);
}
.overlay.overlay_show{
    display: block;
}
aside.cart_popup{
    height: 100%;
    width: 400px;
    border: 5px solid rgb(219, 219, 219);
    transition: 0.2s ease-in;
    background: white;
    position: fixed;
    z-index: 10;
    right: -100%;
    top: 0;
    text-align: center;
    div.cart_box{
        display: flex;
        height: 100%;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        button{
            position: absolute;
            padding: 5px;
            font-family: "myFontBold";
            font-size: 30px;
            background: transparent;
            top: 10px;
            right: 10px;
            color: $blue;
        }
        h3{
            flex-basis: 100%;
            color: $blue;
            padding: 30px 0;
            border-bottom: 2px solid rgb(219, 219, 219);
            align-self: flex-start;
            text-align: center;
        }
        img{
            width: 100px;
            margin: 20px auto;
        }        
        h4{
            flex-basis: 100%;
            margin: 20px auto;
            text-align: center;
            align-self: flex-start;
        }
    }
}
aside.cart_popup.cart_slide{
    right: 0;
}

